Service= {{ service_name }}
Group= {{ mt4_group }}
Description = {{ mt4_description }}
LocalServer= {{ local_server }}
ParentServer= {{ parent_server }}
ParentLogin={{ dc_user }}
ParentPassword= {{ dc_password }}
AntifloodAllow= {{ antiflood_allow }}
AntifloodMax= {{ antiflood_max }}
BlockCount= {{ block_count }}
BlockPeriod= {{ block_period }}
InternalIP= {{ internal_ip }}
FailoverServer= {{ failover_server }}
Version= {{ version }}
Build= {{ build }}